.image-link {
  position: relative;
  display: flex;
  aspect-ratio: 3 / 2;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #cccccc;
  -webkit-tap-highlight-color: transparent;
  transition-property: filter;
  transition-duration: 0.3s;

  &.dimmed {
    filter: opacity(0.25) saturate(0.75);
  }

  img {
    width: 100%;
    object-fit: cover;
  }

  .dimensions {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    background-color: #ffffffcc;
    color: #000000;
    border-radius: 2px;
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
  }
}
