.loader-container {
  display: flex;
  justify-content: center;
  padding-inline: 1rem;
  padding-bottom: 1rem;
}

.loader {
  border-width: 0.25rem;
  border-style: solid;
  border-color: #ffe5d9;
  border-top-color: #9d8189;
  border-radius: 50%;
  width: 2.5rem;
  aspect-ratio: 1 / 1;
  animation: spin 3s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
